/* Historial de Usuario - Estilos similares a Netflix */

.historial-container {
    padding: 20px;
    background-color: #141414;
    color: #ffffff;
    min-height: calc(100vh - 64px); /* Ajuste la altura restando la del navbar */
    box-sizing: border-box;
    border-radius: 8px;
    margin: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.historial-title {
    margin-bottom: 20px;
    color: #e50914; /* Título en rojo */
}

.historial-table-container {
    background-color: #2c2c2c; /* Fondo oscuro de la tabla */
    border-radius: 8px;
}

.historial-table {
    min-width: 650px;
}

.historial-header {
    color: #e50914;
    font-weight: bold;
    border-bottom: 2px solid #e50914;
}

.historial-cell {
    color: #ffffff;
    border-bottom: 1px solid #444444;
}

.historial-row:hover {
    background-color: #eba9a9;
}

.loading-container,
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
